<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>SecOp</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    Managed by <a href="">Company name</a>
  </div>
</footer>
<!-- End Footer -->

<%- include("./jsLibraries.ejs") %>