<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendor/simple-datatables/simple-datatables.js"></script>

<!-- Template Main JS File -->
<script src="../../assets/js/main.js"></script>
<script>
  // Automatically hide the flash message after 5 seconds
  setTimeout(() => {
    const flashMessage = document.getElementById('flashMessage');
    if (flashMessage) {
      flashMessage.classList.add('d-none');
    }
  }, 5000); // 5000 milliseconds = 5 seconds
</script>